html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
.MainPage {
  margin: auto;
  text-align: center;
  width: 80%;
  padding: 10px;
}
.app {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: black;
  margin-bottom: 20px;
  margin: auto;
  text-align: center;
}
.logoSpace {
  margin: 10;
  margin-left: 50;
}

nav ul li {
  padding: 10px;
  margin: auto;
  text-align: center;
}

nav ul li a {
  color: white;
  text-decoration: none;
  margin: auto;
  text-align: center;
}

.current {
  border-bottom: 4px solid black;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
}
